snippet req "var vName = require('npm package')" b
var $1 = require('$2');
$0
endsnippet

snippet requ "require(module)" i
require('${1:module}');
$2
endsnippet

snippet mex "module.exports" b
module.exports = {
	${1}
};
endsnippet

snippet afun "async function"
async function (${1}) {
	${2}
}
endsnippet

snippet forlet "for (let of )" b
for (let ${1:i} of ${2}) {
	${3}
}
$0
endsnippet

snippet flow "add /* @flow */ to the beginning of a file" b
/* @flow */

$0
endsnippet
