snippet js "insert markdown javascript code" b
\`\`\`${1:javascript}
$2
\`\`\`
$0
endsnippet

snippet jsx "insert markdown jsx code" b
\`\`\`\`jsx
$1
\`\`\`\`
$0
endsnippet

snippet html "insert html" b
\`\`\`html
$1
\`\`\`
$0
endsnippet

snippet h1 "h1" b
# $1
$0
endsnippet

snippet h2 "h2" b
## $1
$0
endsnippet

snippet h3 "h3" b
### $1
$0
endsnippet

snippet h4 "h4" b
#### $1
$0
endsnippet

snippet h5 "h5" b
##### $1
$0
endsnippet

snippet h6 "h6" b
###### $1
$0
endsnippet


